includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5

    paths:
        - includes/
        - pryme-core.php

    excludePaths:
        - */vendor/*
        - */tests/*
        - */assets/*

